.btn_main_controls
{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background-color: rgba(200, 200, 200, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.btn_main_controls:hover 
{
	background-color: #1c1c1c;
}

.btn_main_controls1:active 
{
	animation: flashOut 0.1s ease-in-out;
}

/*disable thrust buttons when off limit*/
.disabled 
{
    opacity: 0.3 !important;
    pointer-events: none; /* Prevent clicks */
}
.spn_main_controls 
{
	font-size: 1.2rem;
}

#btn_burger_menu i 
{
  color: #6ab7ff;
  animation: menuBreath 2s ease-in-out infinite;
}

@keyframes menuBreath {
  0% {
    color: white;
  }
  50% {
    color: #6ab7ff;
  }
  100% {
    color: white;
  }
}

.spn_close_content
{
	font-size: 1.4rem;
	display: flex;
    align-items: right; 
	padding-right:15px;
	color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	opacity:0.7;
}


.div_thrust_contain 
{
	width: 110px; 
	height: 110px; 
	background-color: rgba(1, 1, 1, 0.9);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: space-between; 
	border-radius: 5px;
	gap:5px;
	
}
.div_menu_contain 
{
	width: 50px;
	height: 110px; 
	background-color: rgba(1, 1, 1, 0.9);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: space-between; 
	border-radius: 5px;
	gap:5px;
	
}

.thrust_wrapper 
{
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px; 
}


@media screen and (max-width: 768px) 
{
    .btn_main_controls 
	{
        width: 50px; 
        height: 50px;
    }
	.div_menu_contain 
	{
        width: 50px; 
        height: 110px;
        gap: 5px; 
    }
    .div_menu_contain 
	{
        width: 50px; 
        height: 110px;
        gap: 5px; 
    }

    .spn_main_controls 
	{
        font-size: 1.3rem; 
    }

    .thrust_wrapper 
	{
        bottom: 20px; 
    }
}