@import url('fonts.css');

.div_menu 
{
	width: 250px;
    height: 280px;
    position: fixed;
    left: 50%;
    bottom: 130px;
    transform: translateX(-50%) translateY(100%);
    background: linear-gradient(to top, rgba(69, 69, 69, 0.96), rgba(0, 0, 0, 0.99));
    border-radius: 2px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
	
}
.div_menu.hidden 
{
	transform: translateX(-50%) translateY(100%);
    opacity: 0;
}

.div_menu_bg 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../res/image/CheizSimbol.png') no-repeat bottom right;
	background-position: calc(100% + 100px) calc(100% + 50px); 
    z-index: -1; 
	opacity:0.5;
}

@keyframes slideUp 
{
    0% 
	{
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }
    100% 
	{
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.menu 
{
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 0;
	z-index: 1;
}

.menu li {
  font-size: 1.1rem;
  font-weight: 800;
  border-bottom: 1px solid #909090;
  margin: 0px 0;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.menu_label {
  display: inline-block;
  color: white;
  background-image: linear-gradient(
    to right,
    #6ab7ff 0%,
    #6ab7ff 50%,
    white 50%,
    white 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.2s ease;
  position: relative;
  z-index: 2;
}

.menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.8);
  z-index: 0;
  transition: left 0.15s ease-in-out;
}

.menu li:hover::before {
  left: 0;
}

.menu li:hover .menu_label {
  background-position: 0 0;
}

.hide_ul
{
	display: none !important;
	
}

.spn_additional_controls 
{
	display: block;
    position: relative;
    align-self: flex-start; 
    padding-left: 15px; 
	font-size: 1.5rem;
	display: flex;
    align-items: right;
	padding-right:15px;
	color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	opacity:0.5;
}
.spn_additional_controls:hover
{
	opacity:0.8;
}
.hide_bg_audio_icon
{
	display: none !important;
	
}
